body {
    
}

header {
    background-color: darkgoldenrod;
    border-radius: 10px;
    font-family: Verdana;
    text-align: center;
    padding: 20px;
}

article {
    text-align: center;
    margin-top: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(200, 200, 200, 0.5);
}

article .conteudo::first-letter {
    font-size: 30px;
}

article:hover {
    background-color: coral;
    color: black;
}