body {
    background-color: #f1f1f1;
}

h3 {
    color: red;
}

table {
    font-size: 16pt;
    font-family: "Tahoma";
}

th {
    color: blue;
}

.media-titulo {
    font-style: italic;
}

.media-valor {
    font-weight: bold;
}